<div class="panel-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="imm-input">
                    <span class="imm-input-header">
                        Description:
                    </span>
                    <span>
                        <textarea type="text" class="form-control" id="inputDescription" placeholder="" ng-model="NE.selected.metadata.description" />
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2" style="padding:0px">
                <div class="short-div">
                    <div class="imm-input">
                        <span class="imm-input-header">
                            Unit Type:
                        </span>
                        <span>
                            <input type="text" class="form-control" id="inputDescription" placeholder="" ng-model="NE.selected.metadata.unitType" />
                        </span>
                    </div>
                </div>
                <div class="short-div">
                    <div class="imm-input">
                        <span class="imm-input-header">
                            KPI:
                        </span>
                        <span>
                            <input type="text" class="form-control" id="inputDescription" placeholder="" ng-model="NE.selected.metadata.kpi" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2" style="padding:0px">
                <div class="short-div">
                    <div class="imm-input">
                        <span class="imm-input-header">
                            Functional Area:
                        </span>
                        <span>
                            <input type="text" class="form-control" id="inputDescription" placeholder="" ng-model="NE.selected.metadata.funtionalArea" />
                        </span>
                    </div>
                </div>
                <div class="short-div">
                    <div class="imm-input">
                        <span class="imm-input-header">
                            Performance Focus:
                        </span>
                        <span>
                            <input type="text" class="form-control" id="inputDescription" placeholder="" ng-model="NE.selected.metadata.performanceFocus" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="imm-input">
                    <span class="imm-input-header">
                        Notes:
                    </span>
                    <span>
                        <textarea type="text" class="form-control" id="inputDescription" placeholder="" ng-model="NE.selected.metadata.notes" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>